body { font-family:sans-serif;}

#cuerpo { width:80%; margin:0 auto;}
#cuerpo {  }
#cuerpo { padding:5px; }

header{position: relative;  background:#FFA500; border-radius:10px; box-shadow:3px 3px 10px #000;}
#titulo{position: absolute; top: 70px; left: 40%;}

.categoria{margin: 0;}
ul{margin: 0; padding: 0;}
li{border-radius:10px; box-shadow:3px 3px 10px #000; width: 21%; list-style: none; float: left; height: 90px; padding: 20px 10px 0 10px;
	text-align: center;	 background:#FFA500; margin: 10px;
	}
 a{font-size: 3em; color: white;}
footer{clear: left; text-align: center;}