<!DOCTYPE html>
<html>
    <head>
        <title>Entretenimiento | Mi primer programa en django 1.5</title>
        <link href="/static/css/estilo.css" rel='stylesheet'>
    </head>
    <body>
        <div id='cuerpo'>
            <header>
                <img src="/static/imagenes/tux.png">
                <h1 id='titulo'>Entretenimiento</h1>
            </header>
            <h2>Estas Son Nuestras Categorias:</h2>
            <div class='categoria'>
                {% block cuerpo %} {% endblock %}
            </div>
            <footer>
            &copy; Derechos reservados
            </footer>
        </div>
    </body>
</html>
