{% extends "base.html" %}

{% block cuerpo %}
    {% if cat %}
        <ul>
        {% for item in cat %}    
            <li>
                <a href="{{item.nombre|slugify}}">{{item.nombre|title}}</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
    <h4>No existe ningun Categoria...</h4>
    {% endif %}
{% endblock%}
